{% extends "base.html" %}

{% block title %}
	{{ package.name + ' | '}}
{% endblock title %}

{% block body %}
	<h1 id="package_title">{{ package.name }} <span id="version">{{ package.version }}</span></h1>
	<div id="description">
		{% include "description.html" %}
	</div>
	<div id="dependencies">
		{% include "dependencies.html" %}
	</div>
	<div id="reverse_dependencies">
		{% include "reverse_dependencies.html" %}
	</div>
	<p><a href="javascript:history.back()">Go Back</a></p>
{% endblock body %}