The following packages depend on {{ package.name }}:
<ul>
	{% for dependency in package.strict_reverse_deps %}
		<li>
			<a href="/packages/{{ dependency.name }}">{{ dependency.name }}</a>
		</li>
	{% endfor %}
	{% for key, value in package.sub_reverse_deps.items() %}
		<li>
			<a href="/packages/{{ key }}">{{ key }}</a> depends on one of:
			<ul>
				{% for dep in value %}
					<li>
						{% if dep.link %}
							<a href="/packages/{{ dep.name }}">{{ dep.name }}</a>
						{% else %}
							{{ dep.name }} <span class="not_found">package not found</span>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>